{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}

    <div>
        <a href="{{ url('template') }}">Download template</a>
    </div>
    {% if icml_file is defined %}
        <div>
            <a href="{{ app.request.getBaseURL() }}/xml/{{ icml_file }}">ICML</a>
        </div>
        <div>
            {{ icml_file }}
        </div>

    {% endif %}
{% endblock %}
